@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background: linear-gradient(44deg,rgb(1, 2, 15) 100%, rgba(0, 0, 0, 1) 50%)
}

.form-container{
    max-width: 490px;
    padding: 1rem;
}

.container-inputs{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: .8rem;
}

.cep-info{
    grid-column: span 3;
}

.location{
    grid-column: span 7;
}

.address{
    grid-column: span 8;
}

.uf{
    grid-column: span 2;
}

.complement{
    grid-column: span 7;
}

.state{
    grid-column: span 3;
}

.btn{
    width: 100%;
    margin-top: 1.5rem;
}

.neighborhood{
    grid-column: span 10;
}

p{
    font-size: .8rem;
    opacity: 50%;
}

label{
    font-size: .8rem;
    font-weight: 400;
}

input::placeholder{
    font-size: .8rem;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}